<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>{% block title %}{% endblock %}</title>
   <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   {% block css %}{% endblock %}

   <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/base.js') }}"></script>
   {% block script %}{% endblock %}

   {{ moment.include_moment() }}
   {{ moment.lang('zh-CN') }}
</head>
<body>

<div class="bg-image"></div>

{% block header %}{% endblock %}

{% block main %}{% endblock %}

{% block footer %}{% endblock %}

<nav class="menu" id="menu">
   <h1 class="username">{{ admin.username }}</h1>
   <div class="menu-toggle" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
   </div>
   <div class="menu-dropdown">
      <ul class="menu-list">
         <li><a href="{{ url_for('blog.index') }}">主页</a></li>
         <li><a href onclick="return false">分类</a></li>
         <li><a href="{{ url_for('blog.show_tags') }}">标签</a></li>
         <li><a href="{{ url_for('blog.show_archive') }}">归档</a></li>
         <li><a href="#">友链</a></li>
      </ul>
   </div>
</nav>
<nav class="mb-menu translate" id="mb-menu">
   <ul class="mb-menu-list">
      <li><a href="{{ url_for('blog.index') }}">主页</a></li>
      <li><a href onclick="return false">分类</a></li>
      <li><a href="{{ url_for('blog.show_tags') }}">标签</a></li>
      <li><a href="{{ url_for('blog.show_archive') }}">归档</a></li>
      <li><a href="#">友链</a></li>
   </ul>
</nav>

<div class="progress-bar" id="progress-bar"></div>

<div class="loading">
   <div class="loading-wrapper">
      <div class="circle circle-1"></div>
      <div class="circle circle-2"></div>
      <div class="circle circle-3"></div>
      <div class="circle circle-4"></div>
   </div>
</div>

</body>
</html>