<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>{% block title %}{% endblock %}</title>
   <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
   {% block css %}{% endblock %}

   <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/base.js') }}"></script>
   <script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
   {% block script %}{% endblock %}
</head>
<body>

{% block header %}{% endblock %}

{% block main %}{% endblock %}

{% block footer %}{% endblock %}


<nav class="menu" id="menu">
   <h1 class="username">{{ admin.username }}</h1>
   <div class="menu-toggle" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
   </div>
   <div class="menu-dropdown">
      <ul class="menu-list">
         <li><a href="#">主页</a></li>
         <li><a href="#">分类</a></li>
         <li><a href="#">标签</a></li>
         <li><a href="#">归档</a></li>
         <li><a href="#">友链</a></li>
      </ul>
   </div>
</nav>

{#<div class="body-wrapper" id="body-wrapper"></div>#}

<div class="progress-bar" id="progress-bar"></div>

<div class="loading">
   <div class="loading-wrapper">
      <div class="circle circle-1"></div>
      <div class="circle circle-2"></div>
      <div class="circle circle-3"></div>
      <div class="circle circle-4"></div>
   </div>
</div>

</body>
</html>