/* Header */
header {
    margin: 0;
    overflow: hidden; /* 防止外边距折叠 */
    height: 100vh;
}

.heart-icon {
    text-align: center;
    margin: 15vh calc(50vw - 24px - 1.5em) 0;
    padding: 1.5em;
    border-bottom: 2px solid var(--header-text-color, white);
}

.info {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    color: var(--header-text-color, white);
}

header > h1 {
    font-size: 4rem;
    margin-top: 0.5em;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

header > p {
    padding: 0 1.5em;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-shadow: 0.1em 0.1em 0.3em #000;
}

.waves {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15vh;
    min-height: 100px;
    max-height: 150px;
}

.parallax > use {
    opacity: .5;
    animation: move_forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

.scroll-down {
    position: absolute;
    margin: 0;
    left: calc(50vw - 20px - 2px);
    bottom: 60px;
    height: 40px;
    width: 40px;
}

.scroll-down > span {
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    border-right: 3px solid var(--header-text-color, white);
    border-bottom: 3px solid var(--header-text-color, white);
    transform: rotate(45deg);
    animation: fade_move_down 2s ease-in-out infinite;
    cursor: pointer;
}

/* End Header */


/* Main */
.main-wrapper {
    position: relative;
    margin-top: 0;
    width: 100%;
    overflow: hidden;
    background-color: var(--website-background-color);
}

main {
    max-width: 1080px;
    margin: 4em auto;
    padding: 2em;
}

@media (min-width: 50em) {
    main {
        margin: 6em auto;
    }
}

.main-title {
    margin-bottom: 1em;
    font-family: 'Noto Serif SC', serif;
    padding-bottom: .8em;
    border-bottom: 5px dotted var(--main-title-border-color);
}

@media (min-width: 50em) {
    .main-title {
        margin-bottom: 2em;
    }
}

@media (min-width: 75em) {
    .main-title {
        margin-bottom: 2.5em;
    }
}

.main-title > * {
    margin: 0;
}

.main-title > h1 {
    position: relative;
    font-size: 1.4rem;
    font-weight: 300;
}

.main-title > p {
    margin-top: 0;
    color: var(--main-title-p-color);
}

.main-articles > article {
    background-color: var(--article-background-color);
    display: flex;
    flex-direction: column;
    margin: 1.5em 0;
    box-shadow: 0 1px 20px -4px #e8e8e8;
    border-radius: 10px;
    transition: all .8s ease;
}

@media (min-width: 50em) {
    .main-articles > article {
        margin: 2em 0;
    }
}

.main-articles > article:hover {
    box-shadow: 0 1px 20px 10px #e8e8e8;
}

article > .article-image-container {
    max-height: 300px;
}

article > .article-summary {
    margin-top: 0;
    padding: 1em;
}

@media (min-width: 35em) {
    article > .article-summary {
        padding: 1em 1.5em;
    }
}

.article-image-container a {
    display: block;
    height: 100%;
}

.article-image-container .article-image {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 300px;
    object-position: center;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

@media (min-width: 50em) {
    .main-articles > article {
        flex-direction: row;
    }

    .main-articles > article:nth-child(even) {
        flex-direction: row-reverse;
    }

    article > .article-image-container {
        flex: 4;
        max-height: none;
    }

    article > .article-summary {
        flex: 6;
        margin-top: 0;
        padding: 1em 2em;
    }

    .article-image-container .article-image {
        max-height: none;
    }

    .main-articles > article:nth-child(odd) .article-image {
        border-radius: 10px 0 0 10px;
    }

    .main-articles > article:nth-child(even) .article-image {
        border-radius: 0 10px 10px 0;
    }
}

.article-summary > .article-title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.article-title > a {
    color: var(--text-color);
    text-decoration: none;
    transition: all .25s ease;
}

.article-title > a:hover {
    color: var(--a-hover-color);
}

.article-summary > p {
    margin: 0;
    padding: 1em .5em .5em .5em;
    border-bottom: 1px solid rgb(116 116 116 / 25%);
    color: var(--article-summary-color);
}

.article-tags {
    display: flex;
    margin-top: .5em;
    padding: 0 .5em;
    align-items: center;
}

.material-icons {
    margin: 0;
}

.material-icons.md-18 {
    font-size: 18px;
}

.tag {
    display: flex;
    margin: 0;
    align-items: center;
    color: var(--article-summary-color);
    text-decoration: none;
    transition: color .25s ease;
}

.tag:hover {
    color: var(--a-hover-color);
}

.tag > span {
    line-height: 1.2;
    cursor: pointer;
}

.tag > span:last-child {
    margin: 0;
}

.article-tags > .tag + .tag {
    margin: 0 0 0 .5em;
}

.article-timestamp {
    display: flex;
    margin: 0 0 0 auto;
    padding: 0 .5em;
    background-color: var(--article-timestamp-background-color);
    border-radius: 5px;
    align-items: center;
}

.article-timestamp > span {
    font-size: .8rem;
    color: var(--article-timestamp-text-color);
    margin: 0;
}

/* End Main */

@keyframes fade_move_down {
    0% {
        opacity: 0;
        transform: translateY(-20px) rotate(45deg);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(10px) rotate(45deg);
    }
}

@keyframes move_forever {
    0% {
        transform: translateX(-90px);
    }
    100% {
        transform: translateX(85px);
    }
}