{% extends 'base.html' %}


{% block title %}
   {{ article.title }}
{% endblock %}


{% block css %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/material-darker.min.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blog/show_post.css') }}">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
         integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
{% endblock %}


{% block script %}
   <script src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>
   <script>hljs.highlightAll();</script>
   <script src="{{ url_for('static', filename='js/blog/show_post.js') }}"></script>
   <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js"
           integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY"
           crossorigin="anonymous"></script>
   <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js"
           integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR"
           crossorigin="anonymous"></script>
   <script>
       document.addEventListener("DOMContentLoaded", function () {
           renderMathInElement(document.body, {
               // customised options
               // • auto-render specific keys, e.g.:
               delimiters: [
                   {left: '$$', right: '$$', display: true},
                   {left: '$', right: '$', display: false},
                   {left: '\\(', right: '\\)', display: false},
                   {left: '\\[', right: '\\]', display: true}
               ],
               // • rendering keys, e.g.:
               throwOnError: false,
           });
       });
   </script>
{% endblock %}


{% block main %}

   <div class="wrapper">
      <main>
         <div class="article-info">
            <h2 class="article-title">{{ article.title }}</h2>
            <p class="article-timestamp"><span>发布于</span>:{{ moment(article.timestamp).format('YYYY-MM-DD') }}</p>
         </div>
         <div class="article-main">
            <div class="filling"></div>
            <article class="article-body">
               {{ article.body|MDtoHTML }}
            </article>
            <aside class="article-catalog"></aside>
         </div>
      </main>
   </div>

   <div class="status-bar deprecated">
      <div class="mac red"></div>
      <div class="mac yellow"></div>
      <div class="mac green"></div>
   </div>

{% endblock %}