@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/JetBrainsMono-Regular.woff2") format('woff2');
}

:root {
    font-size: calc(1vw + 0.6em);
    font-family: "Noto Serif SC", serif;
    box-sizing: border-box;
    --website-background-color: rgba(240, 240, 240, 0.2);
    --nav-background-color: rgba(255, 255, 255, 0.75);
    --nav-hover-background-color: rgba(255, 255, 255, 0.9);
    --nav-menu-dropdown-background-color: rgba(255, 255, 255, 1);
    --article-background-color: rgba(255, 255, 255, 1);
    --article-summary-color: rgba(116, 116, 116, 1);
    --article-timestamp-background-color: rgba(8, 255, 200, 0.2);
    --article-timestamp-text-color: rgba(0, 140, 158, 1);
    --progress-bar-color: rgba(0, 0, 0, 1);
    --loading-background-color: rgba(255, 255, 255, 1);
    --a-hover-color: rgba(0, 223, 252, 1);
    --header-text-color: white;
    --text-color: black;
    --main-title-p-color: rgba(163, 163, 163, 1);
    --main-title-border-color: rgba(218, 218, 218, 1);
    --menu-toggle-background-color: rgba(0, 0, 0, 1);

    --article-info-color: rgba(119, 119, 119, 1);
    --article-info-border-color: rgba(218, 218, 218, 1);
    --article-catalog-text-color: rgba(80, 80, 80, 1);
    --article-catalog-border-color: rgba(218, 218, 218, 1);
}

@media (min-width: 50em) {
    :root {
        font-size: 1.125em;
    }
}

*,
::before,
::after {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgba(133, 129, 129, 0.97);
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    display: none;
}

html, body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

body * + * {
    margin-top: 1.5em;
}

a:hover {
    color: var(--a-hover-color);
}

/* Navigation */
.menu {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 1em 2em;
    /*background-color: var(--nav-hover-background-color);*/
    justify-content: space-between;
    align-items: center;
    transition: all .75s ease;
}

@media (min-width: 50em) {
    .menu {
        width: calc(100% - 1em);
        margin: 1em .5em;
        padding: .5em;
        border-radius: 10px;
    }
}

@media (min-width: 75em) {
    .menu {
        width: calc(100% - 5em);
        margin: 1em 2.5em;
        padding: .5em 2em;
        border-radius: 15px;
        /*background-color: var(--nav-background-color);*/
    }
}

.menu.not-at-top {
    background-color: var(--nav-background-color);
}

.menu:hover {
    background-color: var(--nav-hover-background-color);
}

.username {
    margin: 0;
    font-family: 'Kaushan Script', cursive;
    font-weight: normal;
    letter-spacing: .05em;
}

.menu-toggle {
    position: relative;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.menu-toggle > span {
    display: block;
    margin: 0;
    width: 37px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--menu-toggle-background-color);
    transform-origin: left center;
    transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.menu-toggle > span:nth-child(2) {
    margin: 6px 0;
    transform-origin: center;
}

.menu.is-open span:nth-child(1) {
    transform: rotate(45deg) translateY(-4px);
}

.menu.is-open span:nth-child(2) {
    transform: scale(0.2, 0.2);
    opacity: 0;
}

.menu.is-open span:nth-child(3) {
    transform: rotate(-45deg) translateY(4px);
}

@media (min-width: 50em) {
    .menu-toggle {
        display: none;
    }
}

.menu-dropdown {
    display: none;
    position: fixed;
    margin: 0;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40vw;
    background-color: var(--nav-menu-dropdown-background-color);
}

@media (min-width: 50em) {
    .menu-dropdown {
        display: flex;
        position: static;
        height: auto;
        width: auto;
        background: none;
    }
}

.menu.is-open .menu-dropdown {
    display: block;
}

.menu-list {
    margin-top: 6.5em;
    padding: 0;
}

.menu-list > li {
    margin: 0;
    list-style: none;
}

.menu-list > li > a {
    position: relative;
    display: block;
    padding: .5em 1em;
    font-weight: 300;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    transition: color .25s ease;
}

@media (min-width: 50em) {
    .menu-list {
        display: flex;
        margin: 0;
        padding: 0;
    }

    .menu-list > li > a {
        padding: 1em;
    }
}

.menu-list > li > a:after {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--a-hover-color);
    transition: width .3s ease 0s;
}

.menu-list > li > a:hover {
    color: var(--a-hover-color);
}

.menu-list > li > a:hover:after {
    width: 100%;
}

/* End Navigation */


/* Progress Bar*/
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
    margin-top: 0;
    background-color: var(--progress-bar-color);
}

/* End Progress Bar*/


/* Loading */
.loading {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    margin-top: 0;
    background-color: var(--loading-background-color);
}

.loading-wrapper {
    position: fixed;
    display: grid;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    transform: translate(-50%, -50%);
}

.circle {
    margin-top: 0;
    width: 60%;
    height: 60%;
    border-radius: 50%;
}

.circle-1 {
    background-color: rgba(255, 182, 185, 1);
    animation: circle-1-move 2s ease infinite;
}

.circle-2 {
    background-color: rgba(250, 227, 217, 1);
    animation: circle-2-move 2s ease infinite;
}

.circle-3 {
    background-color: rgba(187, 222, 214, 1);
    animation: circle-3-move 2s ease infinite;
}

.circle-4 {
    background-color: rgba(138, 198, 209, 1);
    animation: circle-4-move 2s ease infinite;
}

/* End Loading */


/*.body-wrapper {*/
/*    position: fixed;*/
/*    display: none;*/
/*    top: 0;*/
/*    height: 100vh;*/
/*    width: 100vw;*/
/*    margin: 0;*/
/*}*/

/*.body-wrapper.is-open {*/
/*    background-color: rgba(208, 208, 208, 0.4);*/
/*}*/

@keyframes circle-1-move {
    25% {
        transform: translateX(75px);
    }
    50% {
        transform: translate(75px, 75px);
    }
    75% {
        transform: translateY(75px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes circle-2-move {
    25% {
        transform: translateY(75px);
    }
    50% {
        transform: translate(-75px, 75px);
    }
    75% {
        transform: translateX(-75px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes circle-3-move {
    25% {
        transform: translateY(-75px);
    }
    50% {
        transform: translate(75px, -75px);
    }
    75% {
        transform: translateX(75px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes circle-4-move {
    25% {
        transform: translateX(-75px);
    }
    50% {
        transform: translate(-75px, -75px);
    }
    75% {
        transform: translateY(-75px);
    }
    100% {
        transform: translate(0, 0);
    }
}